<form action="#" name="{{formName}}" method="post" accept-charset="utf-8">
  <table class="table table-condensed table-striped table-hover table-bordered">
    <tbody>
      <tr class="sb-top">
        <th ng-repeat="column in columns">{{column.title | translate}}</th>
        <th ng-if="actions.length > 0">{{'actions' | translate}}</th>
      </tr>

      <tr ng-repeat="elem in list" class="sb-content">
        <td ng-repeat="column in columns"
          ng-class="{'font-italic': elem['read_only'], 'no-padding': isArray(elem[column.dataKey]), 'with-id': withId}">
          <span ng-if="isArray(elem[column.dataKey])">
            <table class="table table-condensed table-inner">
              <tr ng-repeat="value in elem[column.dataKey]">
                <td>{{value}}</td>
              </tr>
            </table>
          </span>
          <span ng-if="!isArray(elem[column.dataKey])">
              {{elem[column.dataKey]}}
          </span>
        </td>
        <td ng-if="actions.length > 0">
          <span ng-repeat="action in actions" ng-switch="action" title="{{action | translate}}" class="no-underline">
            <a ng-if="!elem['read_only']" ng-switch-when="edit" ng-href="{{path}}?act=edit&id={{elem.id}}">
              <img ng-src="/img/site/button/{{action}}.png" alt="{{action | translate}}"/>
            </a>
            <a ng-if="!elem['read_only']" ng-switch-when="delete" ng-click="delete({id: elem.id})" ng-confirm-click="{{deleteMessage | translate}}" href="">
              <img ng-src="/img/site/button/{{action}}.png" alt="{{action | translate}}"/>
            </a>
          </span>
        </td>
      </tr>

      <tr class="sb-content" ng-if="!list.length">
		    <td ng-if="!loading" colspan="{{headers.length +1}}" class="td-single" translate-cloak translate="{{noContentMessage}}"></td>
        <td ng-if="loading" colspan="{{headers.length +1}}" class="text-center"><i class="fa fa-spinner fa-pulse fa-fw"></i></td>
	    </tr>
    </tbody>
  </table>
</form>
