<div class="form-group form-inline pull-right" ng-show="isDisplayed()">
   <div class="input-group">
   <input type="search" name="search" id="it-toolbar-search" value={{getSearchValue()}} class="form-control input-search" size=24 translate translate-attr-placeholder="{{'toolbar_fm_search'}}" translate-value-browser="{{'toolbar_fm_search'}}" />
   <span class="input-group-btn">
       <button id="it-toolbar-subsearch" name="submitBtn" class="btn btn-default btn-search btn-block" title="{{'toolbar_fm_search' | translate}}">
           <span class="glyphicon glyphicon-search"></span>
       </button>
   </span>
   </div>
</div>
