@bgDefault      : @xivo-dark;
@bgHighlight    : @xivo-primary;
@colDefault     : @xivo-light;
@colHighlight   : @xivo-light;
@dropDown       : true;

.ddm() when (@dropDown) {
  > li > .dropdown-menu {
      background-color: @bgDefault;
      > li {
        > a {
          color: @colDefault;
          &:hover,  &:focus {
            color: @colHighlight;
            background-color: @bgHighlight; }}
        &.divider {
          background-color: @bgHighlight;}}}
  .open .dropdown-menu > .active {
    > a, > a:hover, > a:focus {
      color: @colHighlight;
      background-color: @bgHighlight; }}}

.navbar-default {
  background-color: @bgDefault;
  border-color: @bgHighlight;
  .navbar-brand {
    color: @colDefault;
    &:hover, &:focus {
      color: @colHighlight; }}
  .navbar-text {
    color: @colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: @colDefault;
        &:hover,  &:focus {
          color: @colHighlight; }}}
    .ddm;
    > .active {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}}
  .navbar-toggle {
    border-color: @bgHighlight;
    &:hover, &:focus {
      background-color: @bgHighlight; }
    .icon-bar {
      background-color: @colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: @colDefault; }
  .navbar-link {
    color: @colDefault;
    &:hover {
      color: @colHighlight; }}}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: @colDefault;
      &:hover, &:focus {
        color: @colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}}
}

.navbar-fixed-top {
  border-width: 0 0 3px;
}

.sidebar {
  background-image: @background-gray;
  border-right: 1px solid @xivo-primary;
  position: fixed;
  @media (max-width: 767px) {
    position: inherit;
  }
  padding-top: 10px;
  margin-top: 53px;
  height: ~"calc(100% - 53px)";
  overflow-y: none;

  &:hover {
    overflow-y: auto;
  }

  & dl {
    margin-bottom: 15px;;
  }

  & dt {
    background-color: @xivo-gradient-dark-gray;
    text-align: center;
    padding: 5px;
    margin: 5px 0px 15px 0px;
    border-radius: 50px;
  }

  & dd dt {
    background-color: inherit;
    text-align: left;
    padding: 0;
    margin-bottom: 0;
  }

  a {
    font-size: 12px;
  }
}

#toolbar {
    max-height: 36px;
    margin-bottom: 15px;
    @media (max-width: 767px) {
      margin-bottom: 50px;
    }

  .input-search {
    height: 36px;
  }

  .btn-search {
    height: 36px;
    padding: 8px 18px 8px 12px;
    font-size: 16px;
  }

  .alert-toolbar {
    display: inline-block;

    .alert {
      padding: 10px;
    }
  }
}
