@icon-font-path:  "~bootstrap/fonts/";
@font-size-base: 13px;

@brand-info: @xivo-dark-gray;
@brand-primary: @xivo-primary;
@brand-success: @xivo-success;
@brand-warning: @xivo-warning;
@brand-danger: @xivo-danger;

@input-height-small: 25px;
@input-border: @xivo-light-gray;
@input-border-focus: @brand-primary;

@table-bg-accent: @xivo-gradient-light-gray;
@table-border-color: @xivo-gradient-dark-gray;
//@table-bg-hover: darken(@xivo-gradient-light-gray, 5);
@table-bg-hover: @xivo-gradient-dark-gray;

@btn-border-radius-base: 50px;
@btn-default-border: @xivo-light;
@btn-link-disabled-color: @xivo-light;

@modal-sm: 360px;
@modal-backdrop-bg: @xivo-light;
@modal-backdrop-opacity:      .5;
@modal-content-bg: @xivo-dark;
@modal-header-border-color: @xivo-dark;
@modal-footer-border-color: @xivo-dark;
